body {
  margin: 0;
  color: #2493bd;
  background-color: #f5f4ec;
  font-family:
          Roboto,
          -apple-system,
          BlinkMacSystemFont,
          'Helvetica Neue',
          'Segoe UI',
          'Oxygen',
          'Ubuntu',
          'Cantarell',
          'Open Sans',
          sans-serif;
}


